<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Bibliotecas UFABC</title>

  <link th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
  <link th:href="@{css/icarius-style.css}" href="../static/css/icarius-style.css" rel="stylesheet"/>
  <link th:href="@{css/ufabc-style.css}" href="../static/css/ufabc-style.css" rel="stylesheet"/>
  <style>body {
    background-color: #888;
    color:            #EEE;
  }</style>
</head>
<body>
<section class="container">
  <div class="alert alert-danger fade in" th:if="${param.error}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Atenção!</strong> Usuário ou senha inválidos.
  </div>
  <div class="alert alert-warning fade in" th:if="${param.logout}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Atenção!</strong> Você saiu.
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <img src="../static/img/ufabc-rlogo.png" th:src="@{/img/ufabc-rlogo.png}" class="img-responsive"/>
      <form th:action="@{/new_user}" method="post" role="form">
        <div class="form-group">
          <label class="center-block text-center" for="username">Nome de usuário: </label>
          <input id="username" type="text" class="form-control" name="username" autofocus="autofocus"
                 required="required"/>
        </div>
        <div class="form-group">
          <label class="center-block text-center" for="username">Nome completo: </label>
          <input id="name" type="text" class="form-control" name="name" autofocus="autofocus" required="required"/>
        </div>
        <div class="form-group">
          <label class="center-block text-center" for="username">CPF (somente os 11 dígitos): </label>
          <input id="cpf" type="text" class="form-control" name="cpf" autofocus="autofocus" required="required"/>
        </div>
        <div class="form-group">
          <label class="center-block text-center" for="username">Data de nascimento: </label>
          <input id="birthDate" type="date" class="form-control" name="birthDate" autofocus="autofocus"
                 required="required" placeholder="YYYY-MM-dd"/>
        </div>
        <div class="form-group">
          <label class="center-block text-center" for="password">Senha: </label>
          <input id="password" type="password" class="form-control" name="password" required="required"/>
        </div>
        <div class="form-group">
          <label class="center-block text-center" for="password">Repetir senha: </label>
          <input id="password-repeat" type="password" class="form-control" name="passwordRepeat" required="required"/>
        </div>
        <div>
          <button type="submit" class="btn btn-default" style="width: 100%;">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</section>
<script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>